
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.check2-CAz {
  width: 100%;
  height: 170rem;
  position: relative;
  overflow: hidden;
  background-color: #fdfffc;

  .ellipse-2-eog {
    width: 97.7rem;
    height: 97.7rem;
    position: absolute;
    left: 0;
    top: 16.1rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 177, 219, 0.75) 0%, rgba(149, 177, 219, 0.75) 100%);
    border-radius: 48.85rem;
  }
  .ellipse-3-a54 {
    width: 97.7rem;
    height: 97.7rem;
    position: absolute;
    left: 103.5rem;
    top: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(149, 177, 219, 0.75) 0%, rgba(149, 177, 219, 0.75) 100%);
    border-radius: 48.85rem;
  }
  .the-dancing-cat-AJA {
    letter-spacing: -0.18rem;
    color: #2e3038;
    height: 3.8rem;
    left: 12.2rem;
    top: 2.7rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2425;
    width: 20.7rem;
    position: absolute;
    display: flex;
    font-family: Kumbh Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .component-1-LM4 {
    left: 61rem;
    top: 3.2rem;
    display: flex;
    column-gap: 14.9rem;
    align-items: center;
    width: 70.7rem;
    height: 2.5rem;
    position: absolute;

    .adoption-b26 {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.12rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      line-height: 1.2425;
      font-family: Kumbh Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .visiting-Gtv {
      display: flex;
      font-weight: 300;
      line-height: 1.2425;
      letter-spacing: -0.12rem;
      font-family: Kumbh Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      color: #000000;
      white-space: nowrap;
    }
    .volunteer-6NA {
      display: flex;
      color: #000000;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.2425;
      letter-spacing: -0.12rem;
      font-family: Kumbh Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .faq-PcA {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.2425;
      letter-spacing: -0.12rem;
      color: #000000;
      font-family: Kumbh Sans, 'Source Sans Pro';
      display: flex;
    }
  }
  .line-1-4iJ {
    left: 61rem;
    top: 6.2rem;
    background-color: #2e3038;
    width: 10.2rem;
    height: 0.3rem;
    position: absolute;
  }
  .line-5-B2E {
    left: 10.2rem;
    top: 63.2rem;
    background-color: #2e3038;
    width: 127.7rem;
    height: 0.3rem;
    position: absolute;
  }
  .line-2-ru4 {
    position: absolute;
    left: 83.7rem;
    top: 6.2rem;
    background-color: #2e3038;
    width: 10.2rem;
    height: 0.3rem;
  }
  .line-3-Kne {
    background-color: #2e3038;
    width: 10.2rem;
    height: 0.3rem;
    position: absolute;
    left: 104.6rem;
    top: 6.2rem;
  }
  .line-4-pzJ {
    width: 10.2rem;
    height: 0.3rem;
    position: absolute;
    left: 127.7rem;
    top: 6.2rem;
    background-color: #2e3038;
  }
  .home-checklist-X82 {
    left: 12.2rem;
    font-weight: 600;
    height: 4rem;
    position: absolute;
    top: 12.4rem;
    display: flex;
    font-size: 3.2rem;
    line-height: 1.2425;
    letter-spacing: -0.192rem;
    color: #000000;
    width: 21rem;
    white-space: nowrap;
    font-family: Kumbh Sans, 'Source Sans Pro';
  }
  .frame-1-jzn {
    align-items: center;
    width: 19.5rem;
    height: 1.9rem;
    position: absolute;
    left: 12.2rem;
    top: 17.4rem;
    display: flex;

    .auto-group-fswr-FCS {
      margin-right: 0.4rem;
      height: 100%;
      color: #000000;
      justify-content: center;
      border-radius: 0.95rem;
      width: 1.9rem;
      border: solid 0.1rem #000000;
      background-color: #fdfffc;
      font-size: 1.4rem;
      line-height: 1.2425;
      letter-spacing: -0.084rem;
      font-family: Kumbh Sans, 'Source Sans Pro';
      align-items: center;
      display: flex;
      font-weight: 600;
      white-space: nowrap;
      box-sizing: border-box;
      flex-shrink: 0;
    }
    .check-if-your-home-is-suitable-NAa {
      display: flex;
      font-weight: 600;
      line-height: 1.2425;
      color: #000000;
      font-family: Kumbh Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.4rem;
      letter-spacing: -0.084rem;
      white-space: nowrap;
    }
  }
  .rectangle-2-nzz {
    position: absolute;
    left: 14.5rem;
    top: 21.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 44rem;
    height: 31.2rem;
  }
  .upload-VuQ {
    line-height: 1.2425;
    letter-spacing: -0.12rem;
    color: rgba(0, 0, 0, 0.3199999928);
    font-family: Kumbh Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.9rem;
    left: 28.8rem;
    top: 52.9rem;
    align-items: center;
    background-color: rgba(149, 177, 219, 0.4799999893);
    border-radius: 0.4rem;
    width: 15.4rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
  }
  .score--Tze {
    letter-spacing: -0.192rem;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 66.1rem;
    font-weight: 500;
    line-height: 1.2425;
    font-size: 3.2rem;
    font-family: Kumbh Sans, 'Source Sans Pro';
    width: 8.1rem;
    height: 4rem;
    top: 18.3rem;
    display: flex;
  }
  .item-7500-eJS {
    font-size: 3.2rem;
    line-height: 1.2425;
    letter-spacing: -0.192rem;
    font-family: Kumbh Sans, 'Source Sans Pro';
    height: 4rem;
    left: 77.7rem;
    top: 18.3rem;
    display: flex;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    width: 9.4rem;
    position: absolute;
  }
  .pros--qti {
    font-weight: 600;
    line-height: 1.2425;
    color: #000000;
    width: 4.1rem;
    left: 71rem;
    top: 25.6rem;
    display: flex;
    font-size: 2rem;
    height: 2.5rem;
    position: absolute;
    letter-spacing: -0.12rem;
    font-family: Kumbh Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .cons--2TQ {
    position: absolute;
    font-size: 2rem;
    letter-spacing: -0.12rem;
    color: #000000;
    line-height: 1.2425;
    font-family: Kumbh Sans, 'Source Sans Pro';
    width: 4.6rem;
    height: 2.5rem;
    left: 102.3rem;
    top: 25.6rem;
    display: flex;
    font-weight: 600;
    white-space: nowrap;
  }
  .suggestions--r54 {
    line-height: 1.2425;
    letter-spacing: -0.12rem;
    font-family: Kumbh Sans, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 600;
    width: 10.4rem;
    height: 2.5rem;
    position: absolute;
    left: 71rem;
    top: 41.5rem;
    display: flex;
    color: #000000;
    white-space: nowrap;
  }
  .rectangle-5-Hw4 {
    background-color: #d9d9d9;
    width: 16.9rem;
    height: 12.6rem;
    position: absolute;
    left: 75.2rem;
    top: 28.9rem;
  }
  .rectangle-6-imU {
    left: 106.5rem;
    top: 28.9rem;
    background-color: #d9d9d9;
    width: 16.9rem;
    height: 12.6rem;
    position: absolute;
  }
  .check-how-we-measured-your-score-2XG {
    font-family: Kumbh Sans, 'Source Sans Pro';
    width: 24.1rem;
    left: 72.6rem;
    font-weight: 300;
    line-height: 1.2425;
    letter-spacing: -0.096rem;
    color: #000000;
    white-space: nowrap;
    height: 2rem;
    position: absolute;
    top: 53.5rem;
    display: flex;
    font-size: 1.6rem;
  }
  .rectangle-7-F98 {
    height: 0.9rem;
    position: absolute;
    left: 71rem;
    top: 54rem;
    background-color: #000000;
    width: 0.9rem;
  }
  .upload-7BL {
    overflow: hidden;
    font-size: 2rem;
    justify-content: center;
    width: 26.9rem;
    left: 94.8rem;
    top: 18.8rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
    background-color: #95b1db;
    border-radius: 0.4rem;
    height: 2.9rem;
    position: absolute;
    display: flex;
    color: #000000;
    white-space: nowrap;
    align-items: center;
    line-height: 1.2425;
    font-family: Kumbh Sans, 'Source Sans Pro';
  }
}
