
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mask-group-nfx {
  height: 170rem;
  width: 100%;

  .check1-Kvn {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fdfffc;

    .ellipse-2-QSS {
      border-radius: 48.85rem;
      width: 97.7rem;
      height: 97.7rem;
      position: absolute;
      left: -55.2rem;
      top: 15.6rem;
      background: radial-gradient(50% 50% at 50% 50%, rgba(149, 177, 219, 0.75) 0%, rgba(149, 177, 219, 0.75) 100%);
    }
    .ellipse-3-A4E {
      left: 99.2rem;
      top: -5.2rem;
      background: radial-gradient(50% 50% at 50% 50%, rgba(149, 177, 219, 0.75) 0%, rgba(149, 177, 219, 0.75) 100%);
      border-radius: 48.85rem;
      width: 97.7rem;
      height: 97.7rem;
      position: absolute;
    }
    .the-dancing-cat-X3C {
      font-family: Kumbh Sans, 'Source Sans Pro';
      width: 20.7rem;
      position: absolute;
      display: flex;
      line-height: 1.2425;
      font-weight: 600;
      letter-spacing: -0.18rem;
      color: #2e3038;
      white-space: nowrap;
      height: 3.8rem;
      left: 12.2rem;
      top: 2.7rem;
      font-size: 3rem;
    }
    .component-1-iNa {
      position: absolute;
      left: 61rem;
      top: 3.2rem;
      display: flex;
      column-gap: 14.9rem;
      align-items: center;
      width: 70.7rem;
      height: 2.5rem;

      .adoption-16n {
        font-weight: 700;
        line-height: 1.2425;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        letter-spacing: -0.12rem;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .visiting-cMU {
        line-height: 1.2425;
        letter-spacing: -0.12rem;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 300;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .volunteer-hti {
        font-size: 2rem;
        line-height: 1.2425;
        letter-spacing: -0.12rem;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-weight: 300;
      }
      .faq-ZAE {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2425;
        letter-spacing: -0.12rem;
        font-family: Kumbh Sans, 'Source Sans Pro';
        color: #000000;
      }
    }
    .line-1-2Zc {
      top: 6.2rem;
      background-color: #2e3038;
      width: 10.2rem;
      height: 0.3rem;
      position: absolute;
      left: 61rem;
    }
    .line-5-LaJ {
      width: 127.7rem;
      height: 0.3rem;
      position: absolute;
      left: 10.2rem;
      top: 63.2rem;
      background-color: #2e3038;
    }
    .line-2-cni {
      height: 0.3rem;
      position: absolute;
      left: 83.7rem;
      top: 6.2rem;
      background-color: #2e3038;
      width: 10.2rem;
    }
    .line-3-WdC {
      top: 6.2rem;
      background-color: #2e3038;
      width: 10.2rem;
      height: 0.3rem;
      position: absolute;
      left: 104.6rem;
    }
    .line-4-zYN {
      background-color: #2e3038;
      width: 10.2rem;
      height: 0.3rem;
      position: absolute;
      left: 127.7rem;
      top: 6.2rem;
    }
    .home-checklist-4HL {
      height: 4rem;
      left: 12.2rem;
      font-weight: 600;
      line-height: 1.2425;
      color: #000000;
      font-family: Kumbh Sans, 'Source Sans Pro';
      width: 21rem;
      position: absolute;
      top: 12.4rem;
      display: flex;
      font-size: 3.2rem;
      letter-spacing: -0.192rem;
      white-space: nowrap;
    }
    .frame-1-Wv2 {
      position: absolute;
      left: 12.2rem;
      top: 17.4rem;
      display: flex;
      align-items: center;
      width: 19.5rem;
      height: 1.9rem;

      .auto-group-xzxc-mb4 {
        letter-spacing: -0.084rem;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 100%;
        color: #000000;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #fdfffc;
        border-radius: 0.95rem;
        flex-shrink: 0;
        width: 1.9rem;
        font-weight: 600;
        line-height: 1.2425;
        border: solid 0.1rem #000000;
        margin-right: 0.4rem;
      }
      .check-if-your-home-is-suitable-fZx {
        font-size: 1.4rem;
        font-weight: 600;
        display: flex;
        line-height: 1.2425;
        letter-spacing: -0.084rem;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-2-Lg6 {
      left: 14.5rem;
      top: 21.7rem;
      background-color: #f4f4f4;
      width: 44rem;
      height: 31.2rem;
      position: absolute;
    }
    .rectangle-3-qcr {
      width: 12rem;
      height: 9rem;
      position: relative;
      left: 30.5rem;
      top: 32.8rem;
      background-size: 132.222% 132.222%;
      background-position: -1.9333rem -1.5rem;
      background-image: url('REPLACE_IMAGE:2171e03609b7e7a327c029ccdbc9939a1bfc9920');
    }
    .questions-oTC {
      left: 62.7rem;
      top: 29.7rem;
      display: flex;
      align-items: center;
      width: 28.2rem;
      height: 1.9rem;
      position: absolute;

      .auto-group-7gce-Vav {
        font-weight: 600;
        box-sizing: border-box;
        width: 1.9rem;
        height: 100%;
        line-height: 1.2425;
        white-space: nowrap;
        border-radius: 0.95rem;
        margin-right: 0.4rem;
        font-size: 1.4rem;
        justify-content: center;
        border: solid 0.1rem #000000;
        background-color: #fdfffc;
        flex-shrink: 0;
        display: flex;
        letter-spacing: -0.084rem;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        align-items: center;
      }
      .check-if-your-home-is-suitable-riJ {
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2425;
        letter-spacing: -0.084rem;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        flex-shrink: 0;
      }
    }
    .questions-WH4 {
      align-items: center;
      width: 16.5rem;
      height: 1.9rem;
      position: absolute;
      left: 62.7rem;
      top: 34.1rem;
      display: flex;

      .auto-group-rckg-Pre {
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #000000;
        line-height: 1.2425;
        letter-spacing: -0.084rem;
        font-family: Kumbh Sans, 'Source Sans Pro';
        border-radius: 0.95rem;
        margin-right: 0.4rem;
        font-size: 1.4rem;
        white-space: nowrap;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 1.9rem;
        font-weight: 600;
        display: flex;
        background-color: #fdfffc;
      }
      .check-if-your-home-is-suitable-mMQ {
        color: #000000;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2425;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        letter-spacing: -0.084rem;
        font-family: Kumbh Sans, 'Source Sans Pro';
      }
    }
    .questions-csp {
      position: absolute;
      left: 62.7rem;
      top: 38.3rem;
      display: flex;
      align-items: center;
      width: 19.9rem;
      height: 1.9rem;

      .auto-group-xjdc-XUz {
        border-radius: 0.95rem;
        flex-shrink: 0;
        line-height: 1.2425;
        align-items: center;
        background-color: #fdfffc;
        font-weight: 600;
        letter-spacing: -0.084rem;
        white-space: nowrap;
        justify-content: center;
        border: solid 0.1rem #000000;
        margin-right: 0.4rem;
        height: 100%;
        font-size: 1.4rem;
        box-sizing: border-box;
        width: 1.9rem;
        display: flex;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
      }
      .check-if-your-home-is-suitable-5ev {
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2425;
        letter-spacing: -0.084rem;
        font-family: Kumbh Sans, 'Source Sans Pro';
      }
    }
    .questions-Xmp {
      width: 19.3rem;
      height: 1.9rem;
      position: absolute;
      left: 62.7rem;
      top: 42.7rem;
      display: flex;
      align-items: center;

      .auto-group-cdft-FC2 {
        display: flex;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 1.9rem;
        height: 100%;
        font-size: 1.4rem;
        line-height: 1.2425;
        color: #000000;
        white-space: nowrap;
        margin-right: 0.4rem;
        align-items: center;
        flex-shrink: 0;
        font-weight: 600;
        letter-spacing: -0.084rem;
        font-family: Kumbh Sans, 'Source Sans Pro';
        justify-content: center;
        background-color: #fdfffc;
        border-radius: 0.95rem;
      }
      .check-if-your-home-is-suitable-M8a {
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: -0.084rem;
        line-height: 1.2425;
        color: #000000;
        font-family: Kumbh Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .upload-an2 {
      left: 28.8rem;
      letter-spacing: -0.12rem;
      height: 2.9rem;
      font-family: Kumbh Sans, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.4rem;
      line-height: 1.2425;
      color: #000000;
      align-items: center;
      width: 15.4rem;
      cursor: pointer;
      position: absolute;
      overflow: hidden;
      font-size: 2rem;
      top: 52.9rem;
      display: flex;
      font-weight: 500;
      justify-content: center;
      background-color: #95b1db;
    }
  }
}
