
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 110.6rem;
}.rectangle-4-Gva {
  width: 100%;
  height: 26.3rem;
  background-color: #ffd9d9;
}
